
AZURE_OPENAI_ENDPOINT=https://YOUR-RESOURCE.openai.azure.com/
AZURE_OPENAI_API_KEY=YOUR_KEY

AZURE_OPENAI_API_VERSION=2024-10-21
AZURE_CHAT_DEPLOYMENT=gpt-4.1
AZURE_EMBEDDING_DEPLOYMENT=your embedding model name

AZURE_SEARCH_ENDPOINT=https://search-service-name.search.windows.net

AZURE_SEARCH_API_KEY=YOUR_SEARCH_KEY


MAX_CONTEXT_TOKENS=4000
TOP_K=10
AZURE_RERANK_ENDPOINT=reranker endpoint 
AZURE_RERANK_DEPLOYMENT=Cohere-rerank-v4.0-fast
AZURE_STORAGE_ACCOUNT_URL=storage account url
AZURE_STORAGE_CONTAINER3=blob-container3
AZURE_STORAGE_CONTAINER4=blob-container4
AZURE_STORAGE_CONNECTION_STRING=connection_string


CHUNK_SIZE =  400
CHUNK_OVERLAP = 80

AZURE_SEARCH_INDEX_NAME=your index name